 <div class="user-details">
  <h1>Work Domain</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
     <h2>Python/Django</h2>
     <img alt="mountains" src="{{ "/assets/img/Python.png" | prepend: site.baseurl }}" style="width:300px;height:200px;">    
    </div>
    <div class="tech">
      <h2>3D-Printing/CAD</h2>
      <img alt="mountains" src="{{ "/assets/img/3D-Printing.jpeg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
    
    </div>
    <div class="tech">
      <h2>WEB-Designing</h2>
      <img alt="mountains" src="{{ "/assets/img/download.jpg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      
    </div>
</div>
