 <div class="user-details">
  <h1>Work Domain</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
     <h2>Python Developer</h2>
     <img alt="mountains" src="{{ "/assets/img/Python.png" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      
    </div>
    <div class="tech">
      <h2>3D-Printing</h2>
      <img alt="mountains" src="{{ "/assets/img/3D-Printing.jpeg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
    
    </div>
    <div class="tech">
      <h2>CAD-Designing</h2>
      <img alt="mountains" src="{{ "/assets/img/CAD.jpg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      
    </div>
</div>
