 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Python Developer</h2>
      <img alt="mountains" src="{{ "/assets/img/Python.png" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      <p><b>As a python developer, I am comfertable 
	  in various python modules, HTML, CSS and in 
	  Django Framework. As mention below projects. 
	  I have exprience of WEB-SCRAPING,WEB-DEVLOPEMNT etc.</p>
    </div>
    <div class="tech">
      <h2>3D-Printing</h2>
      <img alt="mountains" src="{{ "/assets/img/3D-Printing.jpeg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      <p><b>I am comfertable in FDM,SLA,SLS Technology. I can provide you 3D-Printing solution in most compititive manner and
	  in better quality. Have a look at below some work samples,If you have any requirments contact me on my contact details..</p>
    </div>
    <div class="tech">
      <h2>CAD-Designing</h2>
      <img alt="mountains" src="{{ "/assets/img/CAD.jpg" | prepend: site.baseurl }}" style="width:300px;height:200px;">
      <p><b>I have exprience of working on UNIGRAPHICS, SOLIDWORKS,AUTOCAD for desining and for simulation or analysis i am working on
	  Ansys for both structural as well as thermal analysis</p>
    </div>
</div>
