<div class="user-details">
  <h1> ~Freelancing Projects~ </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="homepage-sscad" src="{{ "/assets/img/SSCAD.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 1. SSCAD-Web Development </h3>
    <ul>
      <li>HTML,CSS,BOOTSTRAP</li>
    </ul>
    <p>I have developed a website using HTML,CSS and BOOTSTRAP for SSCAD which is a 3DPrinting startup. You can visit
	   the website using the below link to explore the website.</p>
    <a class="project-link"  target="_blank" href="http://www.sscad.in/">Click here to explore!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Covid-19.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>2. Telegram Channel for Covid-19 Updates</h3>
    <ul>
      <li>Python,Request,BeautifulSoup,AWS</li>
    </ul>
    <p>I have created a telegram channel to provide timely updates oncovid-19 cases. I have used python and 
       its modules like Request, BeautifulSoup, for making the scraper and then deployed the script on 
       AWS EC-2 instance for continuous updates.I have used free api of covid19india.org to build this scraper.	   </p>
    <a class="project-link" target="_blank"  href="https://t.me/Maharashtracoronaupdates">Click here to explore!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/DL.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>3. Web Scraper for Driving License Details.</h3>
    <ul>
      <li>Python,Request,lxml,xpath, JSON</li>
    </ul>
    <p>I have created a scraper which takes two user inputs namely DL.NO. and DOB and returns complete driving license
       details of the user. I have used python, request, xpath, and json to implement this.</p>
   </div>
</div>
